<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">🎬 Cartelera</a>
    <a class="navbar-brand" href="/formulario-ingresar">🎬 Crear Películas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse" id="navbarSearch" *ngIf="mostrarBusqueda">
  <form class="d-flex ms-auto" (ngSubmit)="buscar()">
    <input class="form-control me-2" type="search" placeholder="Título" aria-label="Título" [(ngModel)]="filtros.title" name="title">
    <input class="form-control me-2" type="search" placeholder="Ubicación" aria-label="Ubicación" [(ngModel)]="filtros.ubication" name="ubication">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
  </form>
</div>


  </div>
</nav>
