<!-- Navbar -->
<nav class="navbar navbar-expand-lg shadow-sm fixed-top" style="background-color: var(--cinema-primary);">
  <div class="container-fluid">
    <!-- Marca -->
    <a class="navbar-brand fw-bold text-white" href="/home">
      🎬 Cartelera
    </a>
    <a class="navbar-brand fw-bold text-white" href="/formulario-ingresar">
      ➕ Crear Películas
    </a>

    <!-- Botón hamburguesa -->
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSearch" aria-controls="navbarSearch" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Buscador -->
    <div class="collapse navbar-collapse" id="navbarSearch" *ngIf="mostrarBusqueda">
      <form class="d-flex ms-auto" (ngSubmit)="buscar()">
        <input class="form-control me-2 shadow-sm" 
               type="search" placeholder="🎬 Título" 
               aria-label="Título" [(ngModel)]="filtros.title" name="title">
        
        <input class="form-control me-2 shadow-sm" 
               type="search" placeholder="📍 Ubicación" 
               aria-label="Ubicación" [(ngModel)]="filtros.ubication" name="ubication">

        <button class="btn fw-bold text-white px-4" 
                type="submit" 
                style="background-color: var(--cinema-success); border: none;">
          Buscar
        </button>
      </form>
    </div>
  </div>
</nav>
